[Unit]
PartOf=findsenryu4discord.target
Requires=findsenryu-migrate.service findsenryu-image.service
After=findsenryu-migrate.service findsenryu-image.service

[Container]
ContainerName=findsenryu-app
Image=findsenryu.image
LogDriver=passthrough
StopTimeout=60
Secret=findsenryu-discord-token,target=discord-token
Secret=findsenryu-pghost,target=pg-host
Secret=findsenryu-pgdatabase,target=pg-database
Secret=findsenryu-pguser,target=pg-user
Secret=findsenryu-pgpassword,target=pg-password
Secret=findsenryu-pgsslmode,target=pg-sslmode
Secret=findsenryu-log-level,target=log-level
UserNS=auto

[Service]
StandardOutput=journal
StandardError=journal
SyslogLevelPrefix=yes
Restart=always
TimeoutStopSec=70

[Install]
WantedBy=findsenryu4discord.target
