[Unit]
PartOf=findsenryu4discord.target
Requires=findsenryu-migrate.service findsenryu-image.service
After=findsenryu-migrate.service findsenryu-image.service

[Container]
ContainerName=findsenryu-app
Image=findsenryu.image
LogDriver=passthrough
PublishPort=9090:9090
HealthCmd=["/app/healthcheck"]
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthStartPeriod=30s
HealthOnFailure=kill
Secret=findsenryu-discord-token
Secret=findsenryu-discord-playing
Secret=findsenryu-discord-welcome-enabled
Secret=findsenryu-pghost
Secret=findsenryu-pgdatabase
Secret=findsenryu-pguser
Secret=findsenryu-pgpassword
Secret=findsenryu-pgsslmode
Secret=findsenryu-log-level
Secret=findsenryu-log-format
Secret=findsenryu-admin-owner-ids
Secret=findsenryu-admin-guild-id
Secret=findsenryu-admin-log-channel-id
Secret=findsenryu-admin-report-channel-id
Secret=findsenryu-admin-contact-channel-id
Secret=findsenryu-server-enabled
Secret=findsenryu-server-port
UserNS=auto

[Service]
StandardOutput=journal
StandardError=journal
SyslogLevelPrefix=yes
Restart=always
TimeoutStopSec=30

