[Unit]
PartOf=findsenryu4discord.target
Requires=findsenryu-image.service
After=findsenryu-image.service
Before=findsenryu-app.service
StartLimitIntervalSec=120s
StartLimitBurst=10

[Container]
ContainerName=findsenryu-migrate
Entrypoint=/app/migrate
Image=findsenryu.image
LogDriver=passthrough
Secret=findsenryu-pghost
Secret=findsenryu-pgdatabase
Secret=findsenryu-pguser
Secret=findsenryu-pgpassword
Secret=findsenryu-pgsslmode
Secret=findsenryu-log-level
Secret=findsenryu-log-format
UserNS=auto

[Service]
StandardOutput=journal
StandardError=journal
SyslogLevelPrefix=yes
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=findsenryu4discord.target
