[Unit]
PartOf=findsenryu4discord.target
Requires=findsenryu-image.service
After=findsenryu-image.service
Before=findsenryu-app.service
StartLimitIntervalSec=120s
StartLimitBurst=10

[Container]
ContainerName=findsenryu-migrate
Image=findsenryu.image
Entrypoint=["/app/findsenryu","migrate"]
LogDriver=passthrough
Secret=findsenryu-pghost,target=pg-host
Secret=findsenryu-pgdatabase,target=pg-database
Secret=findsenryu-pguser,target=pg-user
Secret=findsenryu-pgpassword,target=pg-password
Secret=findsenryu-pgsslmode,target=pg-sslmode
Secret=findsenryu-log-level,target=log-level
UserNS=auto

[Service]
StandardOutput=journal
StandardError=journal
SyslogLevelPrefix=yes
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=findsenryu4discord.target
