[Unit]
Description=FindSenryu4Discord stack
Requires=findsenryu-data-volume.service findsenryu-image.service findsenryu-init.service findsenryu-migrate.service findsenryu-app.service

[Install]
WantedBy=multi-user.target
